/* Using color palette from Hogwarts
https://codepen.io/Jill-Lambert/pen/bwevpB */

* {
  top: 0;
  margin: 0;
  font-family: Neucha, cursive;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
}

header , footer {
  background-color: rgb(50, 167, 145);
  width: 100vw;
  height: 8vh;
  font-family: Macondo, cursive;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

#logo {
  padding-left: 10px;
  display: flex;
  width: 20vw;
  height: 8vh;
}

#logo:hover {
  filter: drop-shadow(0 0 4px rgb(247, 151, 7));
}

#trybewarts-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  font-size: 54px;
  color: rgb(185, 161, 73);
  text-shadow: 2px 2px 5px black, -2px -2px 5px rgb(247, 151, 7);
  font-family: Inknut Antiqua, serif;
  height: 7vh;
}

#emailForm , #passwordForm , #input-name , #input-lastname , #input-email , #house {
  border-radius: 10px;
  border-style: inset;
  text-align: center;
  border: 1px solid rgb(247, 151, 7);
  height: 25px;
  width: 266px;
  margin: 0.3vh;
}

#emailForm ,
#passwordForm {
  width: 150px;
}

#emailForm:hover ,
#passwordForm:hover {
  border-radius: 10px;
  border-style: ridge;
  box-shadow: 1px 1px 5px rgb(247, 151, 7);
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 8vh;
}

.trybewarts-login button {
  background-color: rgb(247, 151, 7);
  color: white;
}

.trybewarts-login button:hover {
  box-shadow: 1px 1px 5px rgb(247, 151, 7);
  text-shadow: 0 0 1px rgb(255, 199, 89);
}

main {
  display: flex;
  width: 100vw;
  height: 84vh;
  align-items: center;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 70vh;
  flex-direction: column;
  border: 6px ridge rgb(247, 151, 7);
  padding: 5px;
}

#evaluation-form:hover {
  border: 6px groove rgb(247, 151, 7);
  box-shadow: 2px 2px 10px rgb(247, 151, 7);
}

#formHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 675px;
  margin-bottom: 1vh;
  font-size: 30px;
  font-weight: 700;
}

#formMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 650px;
  height: 60vh;
}

#formFields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

hr {
  width: 600px;
  margin: 3vh 0;
  border: 1.5px inset rgb(247, 151, 7);
}

#familyLearn {
  display: flex;
  width: 650px;
  align-items: center;
  justify-content: center;
}

#family , #learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 325px;
  direction: rtl;
}

#label-family {
  margin-bottom: 1vh;
  direction: ltr;
}

#learn span {
  display: flex;
  text-align: left;
  flex-direction: column;
  direction: ltr;
}

#learnOptions {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 325px;
  margin-top: 0.5vh;
}

#learnOptions input {
  margin: 0;
}

#learnOptions label {
  margin: 0 20px 0 3px;
}

#ratings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
}

#comments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 650px;
}

#comments textarea {
  display: flex;
  width: 595px;
  resize: none;
}

#counter {
  display: flex;
  text-align: center;
  width: 30px;
}

.textarea {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

#check , #formButtons {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: flex-start;
}

#check label {
  margin-left: 1vh;
}

#input-name , #input-lastname , #input-email {
  width: 300px;
  height: 25px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
